<!-- Bouquet Section -->
<section class="portfolio py-8" data-controller="bouquets--modal" data-action="keydown.esc->bouquets--modal#close">
  <h1 class="text-4xl text-gray-700 font-bold mb-6 text-center"><%= @bouquet.name %> bouquet</h1>

  <div class="grid grid-cols-4 gap-4 mb-6 items-center w-full mx-auto">
    <div class="col-start-1 row-start-1">
      <%= image_tag(@bouquet.photos.second,
                    class: "w-full h-auto object-cover rounded-lg shadow-md",
                    alt: @bouquet.name,
                    data: { action: "click->bouquets--modal#open", bouquets__modal_target: "image", bouquets__modal_image_url_value: url_for(@bouquet.photos.second) }
          ) if @bouquet.photos.second.present? %>
    </div>
    <div class="col-span-2 col-start-2 row-span-2 row-start-1">
      <%= image_tag(@bouquet.photos.first,
                    class: "w-full h-auto object-cover rounded-lg shadow-lg",
                    alt: @bouquet.name,
                    data: { action: "click->bouquets--modal#open", bouquets__modal_target: "image", bouquets__modal_image_url_value: url_for(@bouquet.photos.first) }
          ) %>
    </div>
    <div class="col-start-4 row-start-1">
      <%= image_tag(@bouquet.photos.third,
                    class: "w-full h-auto object-cover rounded-lg shadow-md",
                    alt: @bouquet.name,
                    data: { action: "click->bouquets--modal#open", bouquets__modal_target: "image", bouquets__modal_image_url_value: url_for(@bouquet.photos.third) }
          ) if @bouquet.photos.third.present? %>
    </div>
    <div class="col-start-1 row-start-2">
      <%= image_tag(@bouquet.photos.fourth,
                    class: "w-full h-auto object-cover rounded-lg shadow-md",
                    alt: @bouquet.name,
                    data: { action: "click->bouquets--modal#open", bouquets__modal_target: "image", bouquets__modal_image_url_value: url_for(@bouquet.photos.fourth) }
          ) if @bouquet.photos.fourth.present? %>
    </div>
    <div class="col-start-4 row-start-2">
      <%= image_tag(@bouquet.photos.fifth,
                    class: "w-full h-auto object-cover rounded-lg shadow-md",
                    alt: @bouquet.name,
                    data: { action: "click->bouquets--modal#open", bouquets__modal_target: "image", bouquets__modal_image_url_value: url_for(@bouquet.photos.fifth) }
          ) if @bouquet.photos.fifth.present? %>
    </div>

    <% @bouquet.photos.drop(5).each_with_index do |photo, index| %>
      <div class="<%= "col-start-#{index + 1} col-start-#{index + 1}" %>">
        <%= image_tag(photo,
                      class: "w-full h-auto object-cover rounded-lg shadow-md",
                      alt: @bouquet.name,
                      data: { action: "click->bouquets--modal#open", bouquets__modal_target: "image", bouquets__modal_image_url_value: url_for(photo) }
            ) %>
      </div>
    <% end %>
  </div>

  <p class="text-lg text-gray-700 text-center mb-6 p-4 border border-pink-500 rounded-lg shadow-sm">
    <%= @bouquet.description %>
  </p>

  <!-- Preview Modal -->
  <div data-bouquets--modal-target="modal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="modal-content bg-white rounded-lg shadow-lg p-4 max-w-4xl relative flex flex-col items-center justify-center max-h-[95vh] overflow-y-auto">
      <!-- Close Button -->
      <%= button_tag "✖", type: "button", class: "text-right top-4 right-4 text-gray-500 hover:text-gray-800",
                     data: { action: "click->bouquets--modal#close keydown.esc->bouquets--modal#close" } %>

      <!-- Image Preview -->
      <div class="w-full flex justify-center items-center">
        <img src="" alt="Preview" class="max-w-full max-h-[90vh] rounded-lg shadow-md object-contain" data-bouquets--modal-target="imagePreview" />
      </div>
    </div>
  </div>
</section>

<!-- Buttons -->
<div class="flex justify-center space-x-4" data-controller="modal">
  <!-- Back Button -->
  <%= link_to "Back to Gallery", bouquets_path, class: "bg-gray-200 text-gray-700 text-lg font-semibold text-center px-4 py-2 rounded-md hover:bg-gray-300 shadow" %>
  <!-- Edit Button -->
  <%= link_to "Edit Bouquet", edit_bouquet_path(@bouquet), class: "bg-pink-100 text-pink-800 text-lg font-semibold text-center px-4 py-2 rounded-md hover:bg-pink-700 hover:text-white shadow" %>
  <!-- Delete Button & Modal -->
  <%= button_tag "Remove Bouquet", type: "button", data: { action: "click->modal#open" },
                 class: "bg-pink-300 text-pink-800 text-lg text-center font-semibold px-6 py-2 rounded-md hover:bg-pink-700 hover:text-white shadow" %>

  <div data-modal-target="modal" class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="modal-content bg-white rounded-lg shadow-lg p-6 w-4/6 max-w-3xl">
      <h3 class="text-3xl font-extrabold text-pink-900 mb-4 text-center">Remove Bouquet</h3>
      <p class="text-gray-600 mb-6">Are you sure? Do you want to remove this bouquet?</p>

      <%= form_with url: bouquet_path(@bouquet), method: :delete, local: true, class: "space-y-4" do |f| %>
        <!-- Buttons -->
        <div class="flex justify-center space-x-4">
          <!-- Cancel Button -->
          <%= button_tag "Cancel", type: "button", data: { action: "click->modal#close" },
                         class: "bg-gray-200 text-gray-700 text-lg font-semibold text-center px-4 py-2 rounded-md hover:bg-gray-300 shadow" %>
          <!-- Submit Button -->
          <%= f.submit "Yes, remove", class: "bg-pink-300 text-pink-800 text-lg font-semibold text-center px-4 py-2 rounded-md hover:bg-pink-700 hover:text-white shadow" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
