<!DOCTYPE html>
<html>
  <head>
    <title>LoveAndPassionFlowers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-2 px-5 flex">
      <% if flash[:notice] %>
        <div data-controller="flash" class="fixed right-4 top-4 mb-4 z-[10000] flex items-center p-4 ml-4 overflow-hidden rounded-sm pointer-events-auto shadow-light dark:shadow-dark dark:hover:shadow-dark-hover flash bg-pink-100 text-pink-800 px-4 py-2">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
